:root {
  --headerBackground: "";
  --headerHeight: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  user-select: none;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button:focus, input[type=submit]:focus, input[type=reset]:focus {
  background: none;
  transform: none;
  outline: none;
}

body {
  background: #191414;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  color: #b3b3b3;
  font-size: 2rem;
}

.noScroll {
  overflow: hidden !important;
}

.noShow {
  opacity: 0;
  pointer-events: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container--overlay {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.container--overlay::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.container--overlay::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.container--overlay::before {
  background: #b3b3b3;
  opacity: 0.8;
}

.dashboard {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}
.dashboard::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.dashboard::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.dashboard::before {
  background: #212121;
  opacity: 0.9;
}
.dashboard--blurred {
  filter: blur(5px);
}

.smoothScroll {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

.homeHeader, .nav, .tab, .sortMenu {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #212121;
  color: #FFFFFF;
}
.homeHeader::before, .nav::before, .tab::before, .sortMenu::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.homeHeader::after, .nav::after, .tab::after, .sortMenu::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.homeHeader::before, .nav::before, .tab::before, .sortMenu::before {
  background: linear-gradient(135deg, #535353 0%, rgba(83, 83, 83, 0.738) 19%, rgba(83, 83, 83, 0.541) 34%, rgba(83, 83, 83, 0.382) 47%, rgba(83, 83, 83, 0.278) 56.5%, rgba(83, 83, 83, 0.194) 65%, rgba(83, 83, 83, 0.126) 73%, rgba(83, 83, 83, 0.075) 80.2%, rgba(83, 83, 83, 0.042) 86.1%, rgba(83, 83, 83, 0.021) 91%, rgba(83, 83, 83, 0.008) 95.2%, rgba(83, 83, 83, 0.002) 98.2%, rgba(83, 83, 83, 0) 100%);
  opacity: 0.7;
}

.login {
  display: flex;
}
.login__card {
  box-shadow: #26394d 0px 20px 30px -10px;
  background: #212121;
  border: #191414 2px solid;
  color: #FFFFFF;
  margin: auto;
  padding: 2rem;
  position: relative;
}
.login__brand {
  margin: 2rem 0 4rem 0;
  position: relative;
}
.login__brand::before {
  content: "Unofficial";
  left: 0rem;
  top: -1.25rem;
  font-size: 1rem;
  position: absolute;
}
.login__brand::after {
  content: "By Collin Stone";
  right: 0rem;
  bottom: -1.25rem;
  font-size: 1rem;
  position: absolute;
}
.login__icon {
  background: inherit;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: -2rem;
  left: calc((100% - 64px) / 2);
  width: 4rem;
}
.login__icon img {
  object-fit: cover;
}
.login__btn {
  border: solid 1px #1DB954;
  border-radius: 40px;
  background: #1DB954;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  width: 100%;
  -webkit-appearance: none;
}
.login__btn:focus {
  background: #1DB954;
  border: #1ed764;
  outline: none;
}
.login p {
  color: #FFFFFF;
  font-weight: 700;
  text-align: end;
  padding: 0 0.5rem;
}
.login__logo {
  background: #212121;
  margin: auto;
  min-height: 64px;
  position: relative;
  width: 192px;
}

.page {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #191414;
  color: #FFFFFF;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  z-index: 2;
}
.page::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.page::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.page--artist::before, .page--collection::before, .page--welcome::before, .page--search::before {
  background: #191414;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
  z-index: 3;
}
.page--welcome, .page--manage {
  padding: 7rem 0;
}
.page--collection {
  padding: 0 0 8rem 0;
}
.page--artist {
  padding: 0 0 8rem 0;
}
.page--search {
  padding: 9rem 0;
}

.fadeIn::before {
  opacity: 0;
  pointer-events: none;
}

#homePage, #searchPage, #managePage {
  display: none;
}

.showcase {
  color: #FFFFFF;
}
.showcase__title {
  padding: 0 1rem;
}

.collection > * {
  margin-bottom: 1rem;
}
.collection__meta {
  color: #FFFFFF;
  font-size: 0.8rem;
  padding: 0 1rem;
}
.collection__meta i {
  font-size: 0.8rem;
}
.collection__meta span:nth-of-type(1) {
  padding-right: 0.5rem;
}
.collection__meta span:nth-of-type(2) {
  padding-left: 0.5rem;
}
.collection__meta__artists {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  padding: 1rem 0 0 0;
}
.collection__meta__artists img {
  border-radius: 50%;
  margin-right: 1rem;
}
.collection__meta__artists p {
  font-weight: 600;
}
.collection__copyright {
  font-size: 0.8rem;
  padding: 0 1rem;
}

.trackContainer {
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
.trackContainer--artist h4 {
  padding: 0.5rem 1rem;
}
.trackContainer--active {
  opacity: 1;
}

.albumContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.albumContainer h4 {
  padding: 0.5rem 0;
}
.albumContainer__btn {
  border: solid #FFFFFF 1px;
  border-radius: 25px;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 1rem auto;
  padding: 0.25rem 1rem;
}
.albumContainer--active {
  opacity: 1;
}

.albumCard {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  overflow: hidden;
  padding: 0.5rem 0;
}
.albumCard__imgContainer {
  grid-row: 1/3;
  grid-column: 1/2;
  max-height: 64px;
  min-width: 64px;
}
.albumCard__imgContainer img {
  height: 100%;
  width: 100%;
}
.albumCard__title {
  align-self: flex-end;
  grid-row: 1/2;
  grid-column: 2/3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.albumCard__meta {
  align-self: flex-start;
  grid-row: 2/3;
  grid-column: 2/3;
}
.albumCard__meta span {
  color: #b3b3b3;
  font-size: 0.8rem;
}
.albumCard__meta i {
  font-size: 0.8rem;
}

.track {
  align-items: center;
  color: #FFFFFF;
  justify-content: flex-start;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto auto minmax(0, 100%) auto auto;
  padding: 0.5rem 1rem;
}
.track__imgContainer {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 3rem;
  width: 3rem;
}
.track__imgContainer img {
  height: 100%;
  width: 100%;
}
.track h5, .track span {
  grid-column: 3/4;
  overflow: hidden;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 100%;
}
.track h5 {
  align-self: flex-end;
  grid-row: 1/2;
}
.track span {
  align-self: flex-start;
  color: #b3b3b3;
  grid-row: 2/3;
  font-size: 0.8rem;
}
.track p {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-right: 1rem;
}
.track__likeBtn {
  color: #1DB954;
  font-size: 1.5rem;
  grid-column: 4/5;
  grid-row: 1/3;
}
.track__menuBtn {
  grid-column: 5/6;
  grid-row: 1/3;
  padding-left: 1rem;
}
.track--active h5 {
  color: #1ed764;
}
.track--album h5, .track--album span {
  padding: 0;
}
.track--playerCollapsed {
  padding: 0;
  min-width: calc(100% - 4rem);
  max-width: calc(100% - 4rem);
}
.track--playerCollapsed .track__imgContainer {
  height: 3.5rem;
  width: 3.5rem;
}

.playerLargeContainer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(to bottom, var(--currentTrackColor1) 0%, var(--currentTrackColor0)), linear-gradient(to right, var(--currentTrackColor1), var(--currentTrackColor0));
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 994;
}
.playerLargeContainer::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.playerLargeContainer::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.playerLargeContainer i {
  font-size: 1.5rem;
}
.playerLargeContainer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  overflow: auto;
  width: 100%;
}
.playerLargeContainer__wrapper--qv {
  background: #191414;
}
.playerLargeContainer__header {
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-weight: 700;
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 1rem 2rem;
  text-align: center;
  webkit-transform: translate3d(0, 0, 0);
  width: 100%;
}
.playerLargeContainer__header::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.playerLargeContainer__header::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.playerLargeContainer__header h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  padding: 0 1rem;
}
.playerLargeContainer__header i {
  color: #FFFFFF;
  font-size: 1rem;
}
.playerLargeContainer__header--qv {
  background: #191414;
}
.playerLargeContainer::before {
  background: linear-gradient(to top, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
}
.playerLargeContainer::after {
  background: linear-gradient(to bottom, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  opacity: 0.5;
}

.playingView {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 2rem 2rem 2rem;
  max-height: -webkit-fill-available;
  max-width: 100%;
  margin: auto;
}
@media only screen and (max-height: 576px) {
  .playingView {
    padding: 3rem 2rem 1rem 2rem;
  }
}
.playingView__track {
  margin-top: 0.5rem;
  width: 100%;
}
.playingView__track h4 {
  margin: 0.5rem 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playingView__track p {
  color: #b3b3b3;
}
.playingView__time {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.playingView__bar {
  background: #535353;
  border-radius: 5px;
  display: flex;
  padding: 0.125rem 0;
  position: relative;
  height: auto;
  margin: 0.5rem 0;
  width: 100%;
}
.playingView__elapsed {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.playingView__elapsed::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.playingView__elapsed::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.playingView__elapsed::before {
  background: linear-gradient(to right, #535353 0%, rgba(83, 83, 83, 0.738) 19%, rgba(83, 83, 83, 0.541) 34%, rgba(83, 83, 83, 0.382) 47%, rgba(83, 83, 83, 0.278) 56.5%, rgba(83, 83, 83, 0.194) 65%, rgba(83, 83, 83, 0.126) 73%, rgba(83, 83, 83, 0.075) 80.2%, rgba(83, 83, 83, 0.042) 86.1%, rgba(83, 83, 83, 0.021) 91%, rgba(83, 83, 83, 0.008) 95.2%, rgba(83, 83, 83, 0.002) 98.2%, rgba(83, 83, 83, 0) 100%);
}
.playingView__thumb {
  background: white;
  border-radius: 50%;
  left: 0;
  position: absolute;
  padding: 0.4rem;
  top: -0.25rem;
}
.playingView__imgContainer {
  margin: auto;
  max-width: clamp( 300px, 75vw, 100%);
}
.playingView__imgContainer img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
}
.playingView__moreBtns {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
@media only screen and (max-height: 600px) {
  .playingView__moreBtns {
    margin: 0;
  }
}
.playingView__spotifyBtn i {
  color: #1DB954;
  font-size: 2rem;
}

.plQueueView {
  background: #191414;
  display: flex;
  flex-direction: column;
  padding-bottom: 5.5rem;
}
.plQueueView__nowPlaying {
  background: #191414;
  color: #FFFFFF;
  position: sticky;
  padding: 1rem;
}
.plQueueView .controls {
  background: #191414;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 0.5rem 1rem;
}

.queueContainer {
  color: #FFFFFF;
  webkit-transform: translate3d(0, 0, 0);
}
.queueContainer__title {
  align-items: center;
  background: #191414;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: sticky;
}
.queueContainer__title span {
  border: solid #FFFFFF 1px;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.queueTrack {
  align-items: center;
  color: #FFFFFF;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr auto;
  padding: 0.5rem 1rem;
  max-width: 100%;
  width: 100%;
}
.queueTrack h5 {
  grid-row: 1/2;
  grid-column: 2/3;
  overflow: hidden;
  padding: 0 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.queueTrack p {
  color: #b3b3b3;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0 1rem;
  font-size: 0.8rem;
}
.queueTrack i {
  grid-row: 1/3;
}
.queueTrack__radio {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/3;
}
.queueTrack__radio input {
  height: 0;
  width: 0;
  opacity: 0;
}
.queueTrack__radio__control {
  border: solid #FFFFFF 1px;
  border-radius: 50%;
  padding: 0.5rem;
}
.queueTrack__radio__control--selected {
  background: #1DB954;
  border: solid #b3b3b3 1px;
}

.queueControls {
  bottom: 0;
  background: #212121;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
}
.queueControls span {
  color: #b3b3b3;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.controls__trackBtn {
  margin: auto 0;
  position: relative;
}
.controls__trackBtn i {
  color: #FFFFFF;
}
.controls__trackBtn--active i {
  color: #1DB954;
}
.controls__trackBtn--active span {
  color: #1DB954;
  left: 0.5rem;
  position: absolute;
}
.controls__playBtn i {
  background: #FFFFFF;
  border-radius: 50%;
  padding: 1rem;
  color: #191414;
  font-size: 2rem;
}
.controls__playBtn i::before {
  left: 10%;
}

.playerCollapsed {
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  background: #212121;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.playerCollapsed::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.playerCollapsed::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.playerCollapsed__bar {
  background: #535353;
  display: flex;
  padding: 0.1rem 0;
  position: relative;
  width: 100%;
}
.playerCollapsed__elapsed {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.playerCollapsed__elapsed::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.playerCollapsed__elapsed::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.playerCollapsed__elapsed::before {
  background: linear-gradient(to right, #535353 0%, rgba(83, 83, 83, 0.738) 19%, rgba(83, 83, 83, 0.541) 34%, rgba(83, 83, 83, 0.382) 47%, rgba(83, 83, 83, 0.278) 56.5%, rgba(83, 83, 83, 0.194) 65%, rgba(83, 83, 83, 0.126) 73%, rgba(83, 83, 83, 0.075) 80.2%, rgba(83, 83, 83, 0.042) 86.1%, rgba(83, 83, 83, 0.021) 91%, rgba(83, 83, 83, 0.008) 95.2%, rgba(83, 83, 83, 0.002) 98.2%, rgba(83, 83, 83, 0) 100%);
}
.playerCollapsed::before {
  background: linear-gradient(135deg, #535353 0%, rgba(83, 83, 83, 0.738) 19%, rgba(83, 83, 83, 0.541) 34%, rgba(83, 83, 83, 0.382) 47%, rgba(83, 83, 83, 0.278) 56.5%, rgba(83, 83, 83, 0.194) 65%, rgba(83, 83, 83, 0.126) 73%, rgba(83, 83, 83, 0.075) 80.2%, rgba(83, 83, 83, 0.042) 86.1%, rgba(83, 83, 83, 0.021) 91%, rgba(83, 83, 83, 0.008) 95.2%, rgba(83, 83, 83, 0.002) 98.2%, rgba(83, 83, 83, 0) 100%);
  opacity: 0.7;
}
.playerCollapsed--playBtn {
  color: #FFFFFF;
  margin-left: auto;
  padding: 0.75rem 1rem;
}

.artistHeader {
  position: relative;
  transition: opacity 0.75s ease-in-out;
  width: 100%;
  z-index: 2;
}
.artistHeader__imgContainer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  position: relative;
  top: 0;
  padding-top: 20rem;
  width: 100%;
  z-index: -1;
}
.artistHeader__imgContainer::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.artistHeader__imgContainer::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.artistHeader__imgContainer img {
  display: block;
  height: auto;
  top: 0;
  position: absolute;
  width: 100%;
  object-fit: contain;
}
.artistHeader__imgContainer::before {
  background: linear-gradient(to top, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  opacity: 0.75;
  z-index: 1;
}
.artistHeader h1 {
  color: #FFFFFF;
  padding: 1rem;
  font-size: clamp(2rem, 15vw, 3rem);
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 40px;
  z-index: 1;
}
.artistHeader__info {
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  color: #b3b3b3;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  z-index: 1;
}
.artistHeader__info::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.artistHeader__info::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.artistHeader__info p {
  padding: 0.5rem 1rem;
  width: 100%;
}
.artistHeader__info i, .artistHeader__info button {
  padding: 0.25rem 0.5rem;
  margin: 0 0 1rem 1rem;
}
.artistHeader__info button {
  border: solid #535353 1px;
  border-radius: 5px;
  font-weight: 600;
}
.artistHeader--active {
  opacity: 1;
}

.collectionHeader {
  color: #FFFFFF;
  position: relative;
  transition: opacity 0.75s ease-in-out;
  transform-origin: top left;
  width: 100%;
  z-index: 2;
}
.collectionHeader h1 {
  padding: 0 1rem;
}
.collectionHeader > * {
  margin-bottom: 1rem;
}
.collectionHeader__imgContainer {
  padding: 2rem 1rem 1rem 1rem;
}
.collectionHeader__imgContainer div img {
  display: block;
  height: 200px;
  max-width: 100%;
  margin: auto;
}
.collectionHeader__info {
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0 1rem;
}
.collectionHeader__info p {
  color: #FFFFFF;
  font-weight: 400;
}
.collectionHeader__info i {
  font-size: 0.8rem;
  padding: 0 0.5rem;
}
.collectionHeader__artists {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.collectionHeader__artists img {
  border-radius: 50%;
  margin-right: 1rem;
}
.collectionHeader__artists p {
  font-weight: 600;
}
.collectionHeader--active {
  opacity: 1;
}

.headerBacking {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  transition: opacity 0.75s ease-in-out;
  left: 0;
  width: 100%;
  z-index: -1;
}
.headerBacking::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.headerBacking::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.headerBacking--active {
  opacity: 1;
}
.headerBacking::before {
  background: linear-gradient(to top, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  z-index: -1;
}
.headerBacking::after {
  opacity: 0.75;
  z-index: -2;
}
.headerBacking--search::after {
  background: linear-gradient(to bottom, var(--headerColorsearch1) 0%, var(--headerColorsearch0)), linear-gradient(to right, var(--headerColorsearch1), var(--headerColorsearch0));
}
.headerBacking--home::after {
  background: linear-gradient(to bottom, var(--headerColorhome1) 0%, var(--headerColorhome0)), linear-gradient(to right, var(--headerColorhome1), var(--headerColorhome0));
}

.fixedHeader {
  color: #FFFFFF;
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  min-height: 3.5rem;
  width: 100%;
  z-index: 991;
}
.fixedHeader__backBtn {
  top: calc((100% - 1.75rem) /2 );
  left: 0.5rem;
  position: absolute;
  z-index: 992;
}
.fixedHeader__backBtn i {
  font-size: 1.5rem;
}
.fixedHeader__main {
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: #26394d 0px 20px 30px -10px;
  opacity: 0;
  padding: 1rem;
  width: 100%;
}
.fixedHeader__main::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.fixedHeader__main::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.fixedHeader__main h4 {
  font-size: 1rem;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}
.fixedHeader__main::before {
  background: linear-gradient(to top, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  z-index: -1;
}
.fixedHeader--home .fixedHeader__main {
  background: linear-gradient(to bottom, var(--headerColorhome1) 0%, var(--headerColorhome0)), linear-gradient(to right, var(--headerColorhome1), var(--headerColorhome0));
}
.fixedHeader--search .fixedHeader__main {
  background: linear-gradient(to bottom, var(--headerColorsearch1) 0%, var(--headerColorsearch0)), linear-gradient(to right, var(--headerColorsearch1), var(--headerColorsearch0));
}

.homeHeader {
  align-items: center;
  display: flex;
  top: 1rem;
  left: 0;
  padding: 2rem 1rem;
  position: fixed;
  width: calc(100% - 1rem);
  will-change: transform;
  z-index: 2;
}
.homeHeader__title {
  margin: auto auto auto 1rem;
}
.homeHeader__logo {
  max-height: 32px;
  max-width: 32px;
}

.searchHeader {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #191414;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  will-change: transform;
  z-index: 3;
}
.searchHeader::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.searchHeader::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.searchHeader::before {
  background: linear-gradient(135deg, #535353 0%, rgba(83, 83, 83, 0.738) 19%, rgba(83, 83, 83, 0.541) 34%, rgba(83, 83, 83, 0.382) 47%, rgba(83, 83, 83, 0.278) 56.5%, rgba(83, 83, 83, 0.194) 65%, rgba(83, 83, 83, 0.126) 73%, rgba(83, 83, 83, 0.075) 80.2%, rgba(83, 83, 83, 0.042) 86.1%, rgba(83, 83, 83, 0.021) 91%, rgba(83, 83, 83, 0.008) 95.2%, rgba(83, 83, 83, 0.002) 98.2%, rgba(83, 83, 83, 0) 100%);
  opacity: 0.7;
}
.searchHeader__title {
  align-items: flex-end;
  color: #FFFFFF;
  display: flex;
  padding: 1rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  width: 100%;
}
.searchHeader__title span {
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: auto;
}
.searchHeader__search {
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  padding: 0.5rem;
  width: 100%;
}
.searchHeader__search i {
  font-size: 1rem;
  padding: 0 0.5rem;
}
.searchHeader__search input {
  background: inherit;
  border: none;
  font-weight: 600;
  pointer-events: none;
  width: stretch;
}
.searchHeader__search input:focus {
  outline: none;
}
.searchHeader__search input::placeholder {
  color: #191414;
}

.searchOverlay {
  background: #191414;
  color: #FFFFFF;
  display: flex;
  height: 100%;
  left: 0;
  padding: 7rem 0 6.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.searchOverlay__defaultMsg {
  padding: 0 2rem;
  text-align: center;
  margin: auto;
}
.searchOverlay__header {
  background: #212121;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.searchOverlay__header__button {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 0.5rem;
}
.searchOverlay__header form {
  position: relative;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  background: #191414;
  border-radius: 10px;
  color: #FFFFFF;
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
  width: auto;
  min-width: calc(100% - 5rem);
}
.searchOverlay__header form::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.searchOverlay__header form::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.searchOverlay__header form input {
  background: none;
  border: none;
  color: #FFFFFF;
  padding: 0 0.5rem;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}
.searchOverlay__header form input:focus {
  outline: none;
}
.searchOverlay__header form input::placeholder {
  color: #FFFFFF;
}
.searchOverlay__header form i {
  color: #FFFFFF;
  font-size: 1rem;
}
.searchOverlay__header form::before {
  background: #535353;
  opacity: 0.5;
}

.searchFilters {
  display: flex;
  overflow-x: auto;
  padding: 0.5rem 0;
}
.searchFilters__btn {
  flex: 0 0 auto;
  border: solid #FFFFFF 1px;
  border-radius: 25px;
  margin: 0 0.5rem;
  padding: 0.25rem 1rem;
  text-align: center;
  white-space: nowrap;
}
.searchFilters__btn:focus {
  background: #1DB954;
  border: #1ed764;
}
.searchFilters__btn--active {
  background: #1DB954;
  border: #1ed764;
}

.searchResultsContainer {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

.resultCard {
  align-items: center;
  display: grid;
  grid-template-columns: auto minmax(0, 100%) auto;
  grid-template-rows: 1fr 1fr;
  margin: 0.5rem 0;
  padding: 0 1rem;
}
.resultCard i {
  grid-row: 1/3;
}
.resultCard__name {
  align-self: flex-end;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.resultCard__type {
  align-self: flex-start;
  color: #b3b3b3;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 0.8rem;
  padding: 0 1rem;
}
.resultCard__imgContainer {
  grid-column: 1/2;
  grid-row: 1/3;
  height: 3rem;
  overflow: hidden;
  width: 3rem;
}
.resultCard__imgContainer img {
  height: 100%;
  max-width: 100%;
}
.resultCard--artist .resultCard__imgContainer {
  border-radius: 50%;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  width: 100%;
}
.nav__list li {
  width: 33.3%;
}
.nav__item {
  display: flex;
  justify-content: center;
}
.nav__item button {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  justify-content: center;
  width: 100%;
}
.nav__item button i {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}
.nav__item:nth-last-of-type(1) {
  border: none;
}

.tabsContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  width: auto;
}
.tabsContainer__title {
  align-items: flex-end;
  color: #FFFFFF;
  display: flex;
  padding: 1rem;
  flex: 1 0 100%;
  padding: 1rem 0;
  max-width: 100%;
}
.tabsContainer__title span {
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: auto;
}

.tab {
  align-items: center;
  border-radius: 5px;
  display: flex;
  margin: 0.25rem 0;
  width: calc(50% - .5rem);
}
.tab__title {
  display: -webkit-box;
  line-height: normal;
  overflow: hidden;
  padding: 0 0.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tab__image {
  height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
}
.tab__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.slider__title {
  align-items: flex-end;
  color: #FFFFFF;
  display: flex;
  padding: 1rem;
}
.slider__title span {
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: auto;
}
.slider__carousel {
  display: flex;
  min-height: 12rem;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  width: auto;
}

.browseContainer {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(calc(50vw - 1.5rem), 12rem));
  grid-gap: 1rem;
  padding: 1rem;
}
.browseContainer__title {
  color: #FFFFFF;
  grid-column: 1/-1;
  width: 100%;
}

.card {
  color: #FFFFFF;
  height: 100%;
  position: relative;
}
.card__title {
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card__imgContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
}
.card__imgContainer img {
  top: 0;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
}
.card__meta {
  font-size: 0.8rem;
}
.card--homeSlider {
  flex: 0 0 auto;
  margin: 0 0.5rem;
  width: min(40vw, 8rem);
}
.card--homeSlider:nth-of-type(1) {
  margin-left: 1rem;
}
.card--homeSlider:nth-last-of-type(1) {
  margin-right: 1rem;
}
.card--BcSearch, .card--BcShowcase {
  min-height: auto;
  max-height: 100%;
}
.card--artist {
  border-radius: 50%;
}
.card--artist img {
  border-radius: 50%;
  min-height: 100%;
  min-width: 100%;
}

.loading {
  align-items: center;
  background: #191414;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  min-height: 100%;
  position: fixed;
  min-width: 100vw;
  max-width: 100vw;
  z-index: 999;
}

.touchStart {
  background: #1DB954;
  position: relative;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.overlay {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  position: fixed;
  width: 100%;
  z-index: 995;
}
.overlay::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.overlay::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.overlay::before {
  background: linear-gradient(to top, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  opacity: 1;
}
.overlay--result::before {
  background: linear-gradient(to bottom right, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
}
.overlay--result::after {
  background: linear-gradient(to bottom, #1DB954 0%, #212121), linear-gradient(to right, #212121, #1DB954);
}
.overlay--home::after {
  background: linear-gradient(to bottom, var(--headerColorhome1) 0%, var(--headerColorhome0)), linear-gradient(to right, var(--headerColorhome1), var(--headerColorhome0));
}
.overlay--search::after {
  background: linear-gradient(to bottom, var(--headerColorsearch1) 0%, var(--headerColorsearch0)), linear-gradient(to right, var(--headerColorsearch1), var(--headerColorsearch0));
}
.overlay--player::before {
  background: linear-gradient(to top, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  opacity: 1;
}
.overlay--player::after {
  background: linear-gradient(to bottom, var(--currentTrackColor1) 0%, var(--currentTrackColor0)), linear-gradient(to right, var(--currentTrackColor1), var(--currentTrackColor0));
}
.overlay--selectedTrack::after {
  background: linear-gradient(to bottom, var(--selectedTrackColor1) 0%, var(--selectedTrackColor0)), linear-gradient(to right, var(--selectedTrackColor1), var(--selectedTrackColor0));
}
.overlay__popup {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
  max-height: 100vh;
  width: 100%;
}

.trackMenu, .listMenu {
  overflow-y: auto;
  padding: 0 1rem;
}
.trackMenu__imgContainer, .listMenu__imgContainer {
  margin: auto;
  padding: 2rem 1rem 1rem 1rem;
  width: 200px;
}
.trackMenu__imgContainer img, .listMenu__imgContainer img {
  height: auto;
  max-width: 100%;
}
.trackMenu__header, .listMenu__header {
  text-align: center;
  width: 100%;
}
.trackMenu__header h3, .listMenu__header h3 {
  color: #FFFFFF;
}
.trackMenu__header p, .listMenu__header p {
  color: #b3b3b3;
}
.trackMenu button, .listMenu button {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
  width: 100%;
}
.trackMenu button span, .listMenu button span {
  font-weight: 600;
  padding-left: 1rem;
}

.listMenu h3 {
  margin-top: auto;
}
.listMenu button {
  justify-content: space-between;
}
.listMenu button span {
  padding: 0;
}

.mngHeader {
  background: #191414;
  color: #FFFFFF;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.mngHeader__top {
  align-items: center;
  display: flex;
  padding: 1rem;
}
.mngHeader__top i:nth-of-type(1) {
  margin-left: auto;
}
.mngHeader__top i:nth-of-type(2) {
  margin-left: 1rem;
}
.mngHeader__imgContainer {
  border-radius: 50%;
  height: 2rem;
  overflow: hidden;
  width: 2rem;
}
.mngHeader__imgContainer img {
  height: 100%;
  max-width: 100%;
}
.mngHeader__title {
  padding: 0 1rem;
}

.mngLibrary {
  display: flex;
  flex-wrap: wrap;
}

.mngFilters {
  align-items: center;
  display: flex;
  padding: 0.25rem 0.5rem;
  width: auto;
}
.mngFilters__closeBtn {
  align-items: center;
  background: inherit;
  border: solid #FFFFFF 1px;
  border-radius: 50%;
  display: flex;
}
.mngFilters__closeBtn i {
  font-size: 0.8rem;
}
.mngFilters__btn {
  background: inherit;
  border: solid #FFFFFF 1px;
  border-radius: 25px;
  font-size: 0.8rem;
  margin: 0 0.5rem;
  padding: 0.25rem 1rem;
  text-align: center;
  z-index: 2;
}
.mngFilters__btn--sub {
  margin: 0;
}
.mngFilters__btn--active {
  background: #1DB954;
  border: #1ed764 1px solid;
}
.mngFilters__btn--active:focus {
  background: #1DB954;
  border-color: #1ed764;
}

.mngCard--square {
  color: #FFFFFF;
  position: relative;
  width: 50vw;
}
.mngCard--bar {
  align-items: center;
  display: grid;
  grid-template-columns: auto minmax(0, 100%);
  grid-template-rows: 1fr 1fr;
  margin: 0.5rem 0;
  padding: 0 1rem;
  width: 100%;
}
.mngCard__imgContainer--square {
  position: relative;
  overflow: hidden;
  z-index: 1;
  position: relative;
  padding-top: 100%;
  width: 100%;
}
.mngCard__imgContainer--square::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.mngCard__imgContainer--square::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.mngCard__imgContainer--square::before {
  background: linear-gradient(to top, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  z-index: 1;
}
.mngCard__imgContainer--square img {
  top: 0;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.mngCard__imgContainer--bar {
  grid-column: 1/2;
  grid-row: 1/3;
  height: 4rem;
  width: 4rem;
}
.mngCard__imgContainer--bar img {
  height: 100%;
  max-width: 100%;
}
.mngCard__info {
  padding-left: 1rem;
  font-weight: 500;
  width: 100%;
  z-index: 2;
}
.mngCard__info h5, .mngCard__info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mngCard__info p {
  font-size: 0.8rem;
}
.mngCard__info p i {
  font-size: 0.8rem;
  padding: 0 0.5rem;
}
.mngCard__info--bar {
  grid-column: 2/3;
  grid-row: 1/3;
}
.mngCard__info--square {
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
}
.mngCard--artist {
  border-radius: 50%;
}
.mngCard--artist img {
  border-radius: 50%;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
}

.sortContainer {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: calc( 100vh - 3.6rem );
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 3.6rem;
  width: 100%;
  z-index: 5;
}
.sortContainer__relative {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100%;
  width: 100%;
}
.sortContainer__resize {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-left: 0;
  border-right: 0;
  height: 3rem;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 5;
}
.sortContainer__resize::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.sortContainer__resize::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.sortContainer__resize::before {
  border: solid transparent 1px;
  opacity: 0;
  transition: all 0.75s ease-in-out;
}
.sortContainer__resize--active::before {
  background: #1DB954;
  border: solid #1ed764 2px;
  height: 2px;
  top: calc((100% - 2px) / 2);
  opacity: 1;
}

.activeItem {
  background: #191414;
  color: #FFFFFF;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 3rem 1fr;
  min-height: 50%;
  overflow: hidden;
  width: 100%;
}
.activeItem--top {
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 3rem;
}
.activeItem__imgContainer {
  background: #191414;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0.5rem 0;
}
.activeItem__imgContainer img {
  display: block;
  height: auto;
  max-width: 100%;
}
.activeItem__imgContainer--top {
  grid-column: 2/3;
  grid-row: 2/3;
}
.activeItem__meta {
  background: #191414;
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  text-align: end;
}
.activeItem__meta h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.activeItem__meta div {
  display: flex;
  justify-content: space-between;
}
.activeItem__meta div span {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.activeItem__meta div span:nth-of-type(1) {
  font-weight: 700;
}
.activeItem__meta div span:nth-of-type(2) {
  margin: 0 0.5rem;
}
.activeItem__meta--bottom div span:nth-of-type(1) {
  order: 2;
}
.activeItem__meta--bottom div span:nth-of-type(2) {
  order: 1;
}
.activeItem__meta--top {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: start;
}
.activeItem__itemContainer {
  background: #212121;
  position: relative;
  grid-column: 1/3;
  height: auto;
  overflow: auto;
  width: 100%;
}
.activeItem__itemContainer__scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 100%;
  height: auto;
  overflow: hidden;
  width: 100%;
}
.activeItem__itemContainer__scroll .slider {
  margin: auto 0;
}
.activeItem__itemContainer--full {
  grid-row: 1/3;
}
.activeItem__itemContainer--top {
  grid-row: 1/2;
}

#draggable {
  color: #1DB954;
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.activeItemTrack {
  align-items: center;
  display: flex;
  padding: 1rem 0.5rem;
}
.activeItemTrack__title {
  font-size: 1rem;
  overflow: hidden;
}
.activeItemTrack__title h5, .activeItemTrack__title p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.activeItemTrack__title p {
  font-size: 0.8rem;
}
.activeItemTrack__btn {
  display: none;
  margin: 0 0 0 auto;
}
.activeItemTrack__btn--active {
  display: inline-block;
}
.activeItemTrack__btn--active i {
  color: #1DB954;
}

.mngOverlay {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  position: fixed;
  width: 100%;
  z-index: 995;
}
.mngOverlay::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.mngOverlay::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.mngOverlay::before {
  background: linear-gradient(to bottom, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  opacity: 1;
}
.mngOverlay::after {
  background: linear-gradient(to right, #191414 0%, rgba(25, 20, 20, 0.738) 19%, rgba(25, 20, 20, 0.541) 34%, rgba(25, 20, 20, 0.382) 47%, rgba(25, 20, 20, 0.278) 56.5%, rgba(25, 20, 20, 0.194) 65%, rgba(25, 20, 20, 0.126) 73%, rgba(25, 20, 20, 0.075) 80.2%, rgba(25, 20, 20, 0.042) 86.1%, rgba(25, 20, 20, 0.021) 91%, rgba(25, 20, 20, 0.008) 95.2%, rgba(25, 20, 20, 0.002) 98.2%, rgba(25, 20, 20, 0) 100%);
  opacity: 1;
}

.sortMenu {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 0 1rem;
}
.sortMenu h5 {
  color: #b3b3b3;
  padding: 1rem 0;
}
.sortMenu__filterBtn {
  color: #FFFFFF;
  margin: 1rem 0;
  text-align: start;
}
.sortMenu__cancelBtn {
  padding: 1rem;
}

.sortByBar {
  align-items: center;
  display: flex;
  padding: 1rem;
  width: 100%;
}
.sortByBar i {
  font-size: 1rem;
}
.sortByBar__btn {
  font-size: 0.8rem;
  margin-right: auto;
}
.sortByBar__btn span {
  padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
  .login {
    padding: 4rem 4rem 2rem 4rem;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    background-image: url("../public/bglg.jpg");
  }
}

/*# sourceMappingURL=style.css.map */
